@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
/* Replit code*/
html {
  height: 100%;
  width: 100%;
}

:root {
  --dark: #08274f;
}
hr {
  border-color: var(--dark);
  color: var(--dark);
}
h1 {
  color: var(--dark);
}
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 2em;
  padding: 1em;
  
}

.nav  a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--dark);
  text-align: center;
  border-radius: 0.5em;
  transition: border 0.5s;
  border: 1px solid transparent;
  
}
.nav a:hover {
  cursor: pointer; 
  border: 1px solid var(--dark);;
}
.home, .checkin, .resources{
  color: var(--dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: rgb(210 227 255)
  linear-gradient(180deg, rgb(210 227 255) 0%, rgb(223 231 255) 18%, rgb(200 212 255) 100%)
}
.navDiv {
  margin-bottom: 4em;
}
.home {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}



/*panels*/
.panel {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0.5em;
  padding: 2em;
  color: black;
  width: 30em;
}
.panels {
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}
.righthomepanel {
  display: flex; gap: 1em; flex-direction: column; align-items: center; justify-content: center;
}
.meds {

  list-style-type: none;
  text-align: center;
  color: black;
  gap: 1em;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}
.separator {
  margin: 1em;
}

.meds > li {
  
  padding: 0.5em 1em;
  width: 100%;
  flex: 0 0 100%;
  border-radius: 0.5em;
  transition: 1s;
  background-color: #91b1ec;
  border: 1px solid transparent;
}
.meds.medstaken > li {
  opacity: 0.5;
  background-color: rgba(139, 223, 171, 1);
}
.meds > li:hover {
  cursor: pointer;
  background-color: #6a8fd2;
  border: 1px solid #213a68;
}
.meds.medstaken > li:hover {
  cursor: pointer;
  opacity: 1;
  background-color:  rgba(139, 223, 171, 1);
  border: 1px solid  rgba(44, 139, 80, 1);;
}

/* .meds > li:focus {
  cursor: pointer;
  background-color: rgb(166, 36, 70,0.5);
}
 */

.btn {
  border-radius: 0.5rem;
  padding: 0.5em 2em;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #91b1ec;
  color: black;
  transition: 1s;
}

.btn:hover {
  cursor: pointer;
  background-color: #6a8fd2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
}
.panel h1 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.navhr {
  width: 50vw;
  margin: auto;
}
.logo {
  font-weight: 700;
  font-size: 1.3em;

}


/*checkins*/
.checkin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 border-radius: 1em;
 width: 100%;
 max-width: 40rem;
 gap: 1em;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.card textarea {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
}
.card h1 {
  font-size: 1.2rem;
  font-weight: 300;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



  .resources {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }