@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Rammetto+One&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*/
/* Replit code*/
html {
  height: 100%;
  width: 100%;
}

:root {
  --dark: #08274f;
}
hr {
  border-color: var(--dark);
  color: var(--dark);
}
h1 {
  color: var(--dark);
}
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 2em;
  padding: 1em;
  
}
.nav  a {
  font-size: 1.2em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--dark);
  text-align: center;
  border-radius: 0.5em;
  transition: border 0.5s;
  border: 1px solid transparent;
  
}
.nav a:hover {
  cursor: pointer; 
  border: 1px solid var(--dark);;
}
.home, .checkin, .resources, .profile, .report{
  color: var(--dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* background: rgb(210 227 255)
  linear-gradient(180deg, rgb(210 227 255) 0%, rgb(223 231 255) 18%, rgb(200 212 255) 100%) */
  background-image: url("https://wallpapercave.com/wp/H8QYQjv.jpg"), linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-blend-mode: overlay;
  background-size: cover;
}

* {
  font-family: 'Montserrat', sans-serif;
}
.navDiv {
  margin-bottom: 2em;
  margin-top: 1em;
}
.home, .report {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 2em;
  flex-direction: column;
}



/*panels*/
.panel {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 0.5em;
  padding: 2em;
  width: 100%;
  color: black;
  max-width: 30em;
}
.medtracker.panel {
  max-width: 50em;
}
.panels {
  padding: 1rem;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}
.righthomepanel {
  display: flex; gap: 1em; flex-direction: column; align-items: center; justify-content: center;
}
.meds {

  list-style-type: none;
  text-align: center;
  color: black;
  gap: 1em;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}
.separator {
  margin: 1em;
}

.meds > li {
  
  padding: 0.5em 1em;
  width: 100%;
  flex: 0 0 100%;
  border-radius: 0.5em;
  transition: 1s;
  background-color: #4930b7;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
  border: 1px solid transparent;
}
.meds > li h1 {
  color: white;
}
.medName {
  display: flex;
  align-items: flex-start;
flex-direction: column;
}
.meds.medstaken > li {
  opacity: 1;
  background-color: rgb(138, 210, 121);
}

.meds > li:hover {
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid #213a68;
}
.meds.medstaken > li:hover {
  cursor: pointer;
  opacity: 1;
  background-color:  rgba(139, 223, 171, 1);
  border: 1px solid  rgba(44, 139, 80, 1);;
}

/* .meds > li:focus {
  cursor: pointer;
  background-color: rgb(166, 36, 70,0.5);
}
 */

.btn {
  border-radius: 0.5rem;
  padding: 0.5em 2em;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #3f6ec4;
  color: white;
  transition: 1s;
  display: block;
}
.help.btn {
  width: 100%;
  font-size: 1.8em;
  background-color: #3f6ec4;
  text-align: center;
  max-width: 40em;
}
.btn:hover {
  cursor: pointer;
  background-color: #6e95dd;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
}
.panel h1 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.navhr {
  width: 50vw;
  margin: auto;
}
.logo a {
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Rammetto One', sans-serif;
}


/*checkins*/
.checkin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 border-radius: 1em;
 width: 100%;
 max-width: 40rem;
 gap: 1em;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.card textarea {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
}
.card h1 {
  font-size: 1.2rem;
  font-weight: 300;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.resources {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.thanks {
  opacity: 0;
  transition: 1s;
  padding: 1em;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
}
.cardcontent {
  font-size: 1.2rem;
  font-weight: 500;
}

.resources {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.profile input {
  padding: 0.5em;
  border-radius: 1em;
  max-width: 31em;
  width: 100%;
}
.profile ul.questions {
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  flex-direction: column;

}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.formGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  
  
}
.profile h1 {
  text-align: center;
}
.profile .panel {
  max-width: 45em;
  
}

.save.btn {
  font-family: 'Montserrat';
  font-size: 1.5em;
}